# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment folders
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE/editor folders
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# System files
.DS_Store
Thumbs.db
